.gradle
build/

# Source code
bin/*

#Run files
runclient


# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

#IDE files
.idea
*.iml
run/
logs/
projects/mcp

out/

# Build logs
*.log

*.md
!README.md
!CLAUDE.md
.claude

.classpath
.project
.settings
